section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    width: 350px;
}
ul{
    color: rgb(48, 47, 47);
}
li {
    font-size: 23px;
    list-style-type: square;
}
#texto{
    border-radius: 30px;
    border-color: gold;
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: gray;
}
#boton{
    border: none;
    background-color: gold;
    border-radius: 30px;
    margin: 20px;
    padding: 5px 15px;
    color: rgb(70, 24, 24);
    outline: none;
}
.tachar {
    text-decoration: line-through;
}